/* HELPERS */

.container{
    width: 780px;
    margin: 0 auto 60px auto;
}

.flex {
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.align-item-center {
    align-items: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.display-none{
    display:none;
}

.hidden {
    visibility: hidden; 
}

.filter > p > .display-none {
    display:none;
}



/* FONTS */

@font-face{
    font-family: lato-regular;
    src: url("../fonts/lato/Lato-Regular.ttf");
}

@font-face{
    font-family: lato-bold;
    src: url("../fonts/lato/Lato-Bold.ttf");
}

@font-face{
    font-family: marvenpro-regular;
    src: url("../fonts/maven-pro/MavenPro-Regular.ttf");
}

/*  */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-y: scroll;

}

header {
    height: 63px;
    width: 100%;
    background-color: #323232;
    color: white;
    font-family: lato-bold;
    font-size: 16px;
}

header img{
    height: 63px;
}

.nav-ul>li>a {
    text-decoration: none;
    color: inherit;
    margin: 0 10px;
}

.nav-ul>li>a:hover{
    color: #2eb398;
}

.hr1{
    border: 2px solid #e4e9eb;
    width: 85%;
    margin: 30px auto 30px;
}

.search-cont>*{
    margin: 10px 0 20px 0;
}

.search-cont button{
    background-color: #2eb398;
    border: #323232 2px solid;
    padding: 5px 10px;
}

.search-cont input[type=text]{
    border: none;
    background-color: #2eb398;
    color: white;
    padding: 12px 20px;
    width: 300px;
    border-radius: 10px;

}

.search-cont ::placeholder {
    color: white;
}

.memes {}

.meme-gallary {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 60px;
    grid-gap: 10px;
}

.meme-gallary img {
    grid-column: span 3;
    grid-row: span 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: black 1px solid;
}

.meme-gallary img:hover {
    opacity: 0.5;
}

.about {
    height: 100%;
    background-color: #2eb398;
}

.about-container{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 85%;
}

.person{
}

.profile-content-cont{
    width: 60%;
    position: relative;
}

.profile-content-cont *{
    margin-top: 0;
    margin-bottom: 0;
}

.profile-content-cont p{
    margin-top: 20px;
}

.social-icons{
    right: 0;
    bottom: 0;
    position: absolute;
}

.social-icons * {
    padding: 3px;
    font-size: 25px;
    color: white;
}

.social-icons #facebook{
        background-color: #3b5998;
}
.social-icons #github{
        background-color: #333;
}
.social-icons #linkedin{
        background-color: #0077b5;
}
.social-icons #twitter{
        background-color: #1da1f2;
}

.profile-img-cont {

}

.profile-img-cont img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: white 3px solid;
    border-radius: 50%;
}

.contact {
    height: 564px;
    background-color: #323232;
    color: #e0e0e0;

}

.contact-head{
    font-family: marvenpro-regular;
}

.contact-head .p1{
    font-size: 22px;
}
.contact-head .p2{
    font-size: 18px;
}

.contact-container{
    width: 780px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: lato-regular;
}

.contact-content{

}


.contact-form{
    width: 60%;
}

.contact-form input{
    background-color: #454545;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
}

.contact-form ::placeholder{
    color: #bebebe;
    font-size: 12px;
}

.contact-info{
    width: 180px;
    font-family: lato-regular;
    font-size: 12px;
}

.contact-info div{
    font-family: lato-bold;
}

footer {
    height: 43px;
    background-color: #222222;
    color: white;
}

footer p {
    margin: 0;
}

.canvas-container{
}

canvas{
    border: 1px solid black;
    height: 50%;
    width: 50%;
}

.canvas-inputs{

}

/* css for avout section */

/* .team-img {
    height: 200px;
    width: auto;

} */


.img-container{
    background-size: cover;
    background-position: center;
    height:220px;
    width:180px;
}

.member{
    padding-top:68px;
}

.memeber-details{
    width: 580px;
}
.memeber-details > h1, h3, p{
    margin: 0;
}

div > h1 {
    color: #d7fcf5;
    font-family: "Maven Pro Regular";
    font-size: 30px;
    margin: 0 0 8px 0;
}

div > h3 {
    color: #20816d;
    font-family: "Maven Pro Regular";
    font-size: 18px;
}
.memeber-details > p {
    color: #d7fcf5;
    font-family: Lato;
    font-size: 12px;
    margin-bottom: 30px;
}









@media (max-width: 1000px) {
    .meme-gallary {
        grid-template-columns: repeat(9, 1fr);
    }
}

@media (max-width: 600px) {
    .meme-gallary {
        grid-template-columns: repeat(6, 1fr);
    }
}