/* HELPERS */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.align-item-center {
    align-items: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.display-none{
    display:none;
}

.filter > p > .display-none {
    display:none;
}

/*  */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    height: 63px;
    width: 100%;
    background-color: #323232;
    color: white;
}

.nav-ul>li>a {
    text-decoration: none;
    color: inherit;
    margin: 0 10px;
}

.memes {}

.meme-gallary {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 60px;
    grid-gap: 10px;
}

.meme-gallary img {
    grid-column: span 3;
    grid-row: span 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: black 1px solid;
}

.meme-gallary img:hover {
    opacity: 0.5;
}

.about {
    height: 340px;
    background-color: #2eb398;
}

.contact {
    height: 564px;
    background-color: #323232;
}

footer {
    height: 43px;
    background-color: #222222;
    color: white;
}

footer p {
    margin: 0;
}

.canvas-container{
}

canvas{
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

@media (max-width: 1000px) {
    .meme-gallary {
        grid-template-columns: repeat(9, 1fr);
    }
}

@media (max-width: 600px) {
    .meme-gallary {
        grid-template-columns: repeat(6, 1fr);
    }
}